<html>
    <%- include("partials/head", {title: title}); %>
    <body>
        <a href="/create">Add new category</a>
        <% if (categories.length === 0) {%>
            No categories found! 
        <% } else { %>
            <% categories.map(category => { %>
                <li>
                    <a href="/<%= category.id %>/items">
                        <%= category.name %>
                    </a>
                    <a href="/update/<%= category.id %>">Change name</a>
                </li>
            <% }) %>
        <% } %>
    </body>
</html>
