<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/heading") %>
        <%- include("partials/errors") %>
        <form class="user-form" method="POST" action="/create">
            <div class="input">
                <label for="categoryName">Name the new category: </label>
                <input 
                type="text" 
                id="categoryName" 
                name="categoryName" 
                required />
            </div>
            <div class="submit-btn-container">
                <button type="submit">
                    Add Category
                </button>
            </div>
        </form>
    </body>
</html>
