<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <form method="POST" action="/create">
            <label for="categoryName">Name the new category: </label>
            <input type="text" id="categoryName" name="categoryName" required />
            <button type="submit">Add Category</button>
        </form>
    </body>
</html>
