<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/errors") %>
        <form method="POST" action="/<%= categoryId %>/items/create">
            <label for="itemName">Name the new item: </label>
            <input type="text" id="itemName" name="itemName" required />
            <button type="submit">Add Item</button>
        </form>
    </body>
</html>
