<html>
    <%- include("partials/head", {title: title}) %>
    <body>
        <%- include("partials/errors") %>
        <form method="POST" action="/update/<%= categoryId %>">
            <label for="categoryName">Category Name: </label>
            <input 
            id="categoryName" 
            type="text" 
            name="categoryName" 
            value=<%= categoryName %> />
            <button type="submit">Change Name</button>
        </form>
    </body>
</html>
